<h1 style='margin: 125px 0px 50px 0px'>Search for Your Friend's from Here</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= render partial: "search", locals: { friends: @friends } %>
