<h1 style='margin: 100px'>Need to link to search partial and do all the friend CRUD (edit/ delete / new) on this page - will need to send the instance variable from the controller to the partial</h1>
<%= render 'search' %>
