<h1 style='margin: 100px'>Need to list all the events that are happening on this page. CRUD stuff will all happen here for events. May move this to events views / controller</h1>

<ul id="event_list">
<% counter = 1 %>
<% 1.upto(10) do %>
  <li> Event <%=counter%> </li>
  <% counter += 1 %>
<% end %>
</ul>
