<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

<link rel="stylesheet" href="pricing.css">
<body>


<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a href="#" class="pure-menu-heading">NTouch</a>
    <ul>
        <li><a href="#">Login with Facebook</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>

<div class="banner">
    <h1 class="banner-head">
        NTouch<br>
        Stay close to those that matter most.
    </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2> </h2>

                    <span class="pricing-table-price">
                        $5 <span>per month</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Free setup</li>
                    <li>Custom sub-domain</li>
                    <li>Standard customer support</li>
                    <li>1GB file storage</li>
                    <li>1 database</li>
                    <li>Unlimited bandwidth</li>
                </ul>

                <button class="pure-button button-choose">Choose</button>
            </div>
        </div>

        <div class="pure-u-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2> </h2>

                    <span class="pricing-table-price">
                        $25 <span>per month</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Free setup</li>
                    <li>Use your own domain</li>
                    <li>Standard customer support</li>
                    <li>10GB file storage</li>
                    <li>5 databases</li>
                    <li>Unlimited bandwidth</li>
                </ul>

                <button class="pure-button button-choose">Choose</button>
            </div>
        </div>

        <div class="pure-u-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2> </h2>

                    <span class="pricing-table-price">
                        $45 <span>per month</span>
                    </span>
                </div>

                <div class="pricing-table-list">
                    
                </div>

                <button class="pure-button button-choose">Choose</button>
            </div>
        </div>
    </div> <!-- end pricing-tables -->

    <div class="information pure-g-r">
        <div class="pure-u-1-2">
            <div class="l-box">
                <h3 class="information-head">Dain Hall</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>
        </div>

        <div class="pure-u-1-2">
            <div class="l-box">
                <h3 class="information-head">Alexander Larson</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                </p>
            </div>
        </div>

        <div class="pure-u-1-2">
            <div class="l-box">
                <h3 class="information-head">Jonathan Howden</h3>
                <p>
                    Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

        <div class="pure-u-1-2">
            <div class="l-box">
                <h3 class="information-head">William Burke</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div> <!-- end information -->
</div> <!-- end l-content -->

<div class="footer">
    <p class="l-box">
        <a href="#">Coded with love in Chicago.</a>.
    </p>
</div>




</body>
</html>
