<h1>Welcome to NTouch</h1>

<div id="landing_page_div">
  <div id="mission_statement">
    <h1>Let Us Help You Stay In Touch with the People That Matter</h1>
  </div>
  <div id="sign_up_buttons">
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "fb_sign_in" %>
  </div>
</div>

