<h1> Manage your events! </h1>
 <ul>
      <% if @friend.events.nil? %>
          <%= puts "This person has no events" %>
      <% else %>
          <% @friend.events.each do |event| %>
     <li> <%= event.description %> on <%= event.date.strftime("%A, %b %d %Y") %> </li>
          <% end %> 
      <% end %>
 </ul>
