
html{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-variant: small-caps;
}

 /*----------------Global---------------------*/

 input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
 }

 button {
  height: 40px;
  border-radius: 10px;
  background: #E44424;
  color: white;
  font-size: 20px;
 }

#saved_message {
  margin-left: 50px;
  clear: both;
  color: green;
}

/*---------------------NAV BAR----------------------*/

#nav {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  background: #E44424;
  height: 100px;
  z-index: 1000;
}

#nav_user {
  color: white;
  float:right;
  white-space: nowrap;
  font-size: 30px;
}

#nav_user ul{
  margin-right:20px;
}

#nav_user ul li{
  display: inline;
}

#nav_user a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#nav_user li + li::before {
    content: " | ";
}

#nav_user a:hover {
  font-weight: bold;
}

#company_logo {
  border-radius: 100px;
  background-color: white;
  width: 125px;
  height: 70px;
  border: 3px solid #67BCDB;
  text-align: center;
  margin: 10px;
  float: left;
}

/*-----------------LANDING PAGE-------------------*/

#landing_page_div {
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  border: 4px solid #67BCDB;
  height: 300px;
  box-shadow: 5px 5px 5px 5px #888888;
  width:50%;
}

#mission_statement h1{
  margin-top: 0px;
  font-size: 45px;
  font-style: italic;
  border: 1px dotted black;
  float:left;
  width: 48%;
  height: 290px;
  padding-left: 20px;
}

#sign_up_buttons {
  border: 1px dotted black;
  float:right;
  width: 48%;
  height: 290px;
  text-align: center;
}

#fb_sign_in {
  padding: 20px;
  background: #3B5998;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-style: lucida;
  box-shadow: 2px 2px 2px 2px #888888;
  line-height: 290px
}

/*--------------------MANAGE FRIEND PAGE--------------------*/
#manage_friends_photo_list_div{
   margin-left: 10px;
   text-align: center;
   background: white;
   width: 90%;
}

.manage_friend_photo_list_item{
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #888888;
  font-size: 10px;
  width: 15%;
  margin-left: 10px
}

.edit_button {
  background-color: gray;
  height: 25px;
  float: right;
  margin-left: 20px
}

.button_to{
  font-size: 12px;
  padding: 0px;
  width: 30%;
  float: left;
  margin-right: 20px
}
.manage_friend_photo {
  width: 100%;
  height: auto;
}

/*--------------------SEARCH FORM STYLING--------------------*/

#search_form {
  margin-top: 100px;

}

#search_form input {
  width: 40%;
}

#list {
  margin: 0px;
  padding: 0px;
}

#list li {
    opacity: .5;
    border: 1px solid black;
    list-style-type: none;
}

#list li:hover {
    opacity: 1;
    cursor: pointer;
}

/*----------------NEW FRIEND FORM ---------------------*/

#new_friend_form {
  margin-top: 25px;
  width: 30%;
  border: 5px solid #67BCDB;
  border-radius: 5px;
}

#new_friend_form img{
  height: 150px;
  width: auto;
}

#new_friend_form span{
  float: right;
  margin: 0px 25px 0px 25px;
}

 /*----------------USER PAGE STYLING (User Profile Nav)---------------------*/

 #prof_nav_list {
  text-align: center;
  font-size: 0px; /*need this to 'touch' the list items*/
  margin-bottom: 20px
 }

#prof_nav_list li{
  display: inline-block;
  min-width: 150px;
  text-align: center;
  border: solid 1px gray;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  padding: 10px 10px 10px 10px;
  white-space: nowrap;
  background-color: grey;
  color: black;
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  font-size: 15px
 }

#prof_nav_list li:first-child {
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
}

#prof_nav_list li:last-child {
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
}

/*----------------USER PAGE STYLING (Photo List)---------------------*/

#friends_photos_container {
  border: 1px dotted black;
  margin-bottom: 300px;
  z-index: 4000;

}
#header_for_photo_list {
  text-align: center
}

#photo_list_div {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid gray;
  width: 90%;
  background: #A2AB58;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #888888;
}

#photo_list_div ul {
  padding: 0px;
}

#photo_list_div li{
   display: inline-block;
   margin-left: 10px;
   text-align: center;
   border: 1px solid gray;
   background: white;
   width: 250px;
   height: 250px;
 }

 #photo_list_div li img{
   height: 225px;
   width: 225px;
 }

 .photo_button_list {
   padding: 5px;
   border-radius: 5px;
   box-shadow: 3px 3px 3px 3px #888888;
   font-size: 15px;
 }

 .photo_button_list:hover {
   box-shadow: 5px 5px 5px 5px #888888;
   font-weight: bold;
 }

 #event_form {
   display: none;
 }

 .delete_button {
  width: 50px;
  height: 25px;
 }

 /*----------------USER PAGE STYLING (User Summary)---------------------*/

#user_summary_container {
  border: 1px dotted black;
  height: 300px;
  width: 45%;
  margin: 0 auto;
  border: 1px dotted black;
}

#user_picture_div {
  width: 45%;
  float: left;
  height: 100%;
  border: 1px dotted black;
  border-radius: 5px;
  border: 5px solid #67BCDB;
  text-align: center;
}

#user_picture_div img{
  margin-top: 20px;
  height: 80%;
  width: auto;
}

#user_game_stats {
  width: 45%;
  float: right;
  height: 100%;
  border: 5px solid #67BCDB;

}

#user_game_stats ul {
  padding-left: 5px;
}

#user_game_stats ul li{
  list-style-type: none;
  font-size: 30px;
  border-bottom: 1px solid gray;
}

#user_game_stats ul li span{
  float: right;
  margin-right: 20px;
}

 /*----------------USER PAGE STYLING (Graph)---------------------*/




 /*----------------USER PAGE STYLING (Events)---------------------*/

#friend_graph_div {
  border: 1px dotted black;
  width: 100%;
  margin: 0px;
  display: none;
  text-align: center;
}


#friend_event_div {
  border: 1px dotted black;
  width: 50%;
  margin: 0px 0px 400px 0px;
  display: none;

}

#chart_div {
  z-index: 1000;
}

#photo_unordered_list{
  z-index: 0;
}
/*----------------Edit User Settings ---------------------*/

#edit_profile_div {
  margin-top: 200px;
  width: 30%;
  border: 4px solid #67BCDB;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #888888;
  margin-left: 20px;
  font-size: 25px;
  height: 400px;
}

#edit_profile_div p{
  margin-left: 20px;
}

#edit_profile_div span{
  float: right;
}


/*------------------Events----------------------*/

#friend_events_panel {
  float: left;
  width: 48%;
  border: 5px solid #67BCDB;
  border-radius: 10px;
}

#friend_events_panel ul{
  padding-left: 10px;
}

#event_form_panel {
  float: right;
  width: 48%;
  border: 5px solid #67BCDB;
  border-radius: 10px;
}

.manage_friend_container {
  padding: 10px;
  border-radius: 5px;
  background-color: #A2AB58;
  color: white;
  margin: 10px 10px 10px 10px;
}

.manage_friend_photo_list_item img {
  height: 225px;
  width: 225px;
}

#event_list {
  float: right;
  width: 65%;
  color: white;
  margin-top: 0px;
  height: auto;
}

.individual_event a{
  color: white;
  text-decoration: none;
}

.individual_event a:hover{
  font-weight: bold;
}

.manage_friend_paragraph {
  width: 30%;
  display: inline-block;
  margin: 0;
}

.manage_friend img{
  height: 100px;
  width: auto;
}

.new_event_button {
  font-size: 10px;
  padding: 5px;
  height: 25px;
}

/* Form to add annual event */

.form_to_add_annual_event {
  width: 50%;
  margin: 10px;
}

.form_to_add_annual_event span{
  float: right;
}

/* Form to add frequent event */

.form_to_add_frequent_event {
  width: 50%;
  margin: 10px;
}

.form_to_add_frequent_event span{
  float: right;
}

/* Form to update annual event */

.form_to_update_annual_events span{
  float: right;
}

.form_to_update_annual_events {
  width: 50%;
  margin: 10px;
}

/* Form to update frequent event */

.form_to_update_frequent_events {
  width: 50%;
  margin: 10px;
}
.form_to_update_frequent_events span{
  float: right;
}


